<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejs</title>
  </head>
  <body>
    <main>
      <h1>About Page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem esse
        nobis ipsum numquam doloribus et molestias reprehenderit natus. Nisi
        exercitationem officia temporibus facere, quidem eaque numquam
        blanditiis ea doloribus assumenda?
      </p>
      <h2>Our Services</h2>
      <ul>
        <li>Web App Develeopment</li>
        <li>Mobile App Develeopment</li>
        <li>Desktop App Develeopment</li>
      </ul>
    </main>
  </body>
</html>
